<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>4691109900-o9tr4769mtrn3tfaphsuiple1a5infdm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.4691109900-o9tr4769mtrn3tfaphsuiple1a5infdm</string>
	<key>API_KEY</key>
	<string>AIzaSyCaoBNbONuva70BQMGQvWTLiwsxQjdMd8w</string>
	<key>GCM_SENDER_ID</key>
	<string>4691109900</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.benji.TwitterClone</string>
	<key>PROJECT_ID</key>
	<string>twitterfirebase-1bf5b</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterfirebase-1bf5b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:4691109900:ios:cabd2e339ee4c8ec98e629</string>
</dict>
</plist>